.canvas-controls {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  background-color: white;
}

.btn-width {
  min-width: 50px;
  margin-right: 10px; /* Adjust the margin between buttons if needed */
  background-color: white;
}

.canvas-btn {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border-style: solid;
  padding: 5px 5px;
  border-color: gray;
  border-width: thin;
  background-color: white;
}

canvas {background-color: white;}
body {background-image: url(C:\Users\sumai\OneDrive\Desktop\Scribble\src\components\background\home.jpg);}


.mouse-state {
  cursor: none;
}

#circularcursor {
  background-color: transparent;
  border: 1px solid black;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  z-index: 1;
}